.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.form-group {
  margin-bottom: 10px
}
label {
  display: block
}
.out-of-stock {
  color: red
}
.SortableColumnHeader-current {
  background: #000000;
  color: #ffffff;
  border-color: #000000
}